.cards {
  margin-top: 57px;
  padding-left: 70px;
  list-style: none;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
}

@media screen and (max-width: 1300px) {
  .cards {
    grid-template-columns:repeat(3, 1fr);
  }
}

