.sort__button-size {
  width: 150px;
  padding: 8px;
  text-align: center;
  cursor: url(../../../images/icons/cursor.svg) 1 1, default;
  border-radius: 5px;
  border: 0;
}

.sort__button-size:hover {
  background-color: rgb(243, 231, 229);
}