.header__name-site {
  font-family: 'Rock-Salt', Arial, sans-serif;
  font-size: 28px;
  color: #DE1F1F;
  font-weight: 900;
  margin-right: 250px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 1800px) {
  .header__name-site {
    margin-right: 150px;
  }
}

@media screen and (max-width: 1250px) {
  .header__name-site {
    margin-right: 50px;
    font-size: 18px;
  }
}

@media screen and (max-width: 890px) {
  .header__name-site {
    margin-right: 30px;
    font-size: 12px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 630px) {
  .header__name-site {
    margin-right: 5px;
    font-size: 12px;
    margin-left: 5px;
  }
}


@media screen and (max-width: 600px) {
  .header__name-site {
    display: none;
  }
}



