.basket__button {
  background-color: white;
  border: 1px solid black;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  margin: 0 20px 20px 0;
}

.basket__button:hover {
  background-color: rgb(228, 187, 179);
  cursor: url(../../../images/icons/cursor.svg) 1 1, default;
}