.gallery {
  max-height: 750px;
  display: flex;
  flex-direction: column;
  overflow: auto ;
  /* box-sizing: border-box; */
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

/* полоса прокрутки (скроллбар) */
.gallery::-webkit-scrollbar {
  width: 5px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #f5f5f5;
}

/* ползунок скроллбара */
.gallery::-webkit-scrollbar-thumb {
  background-color: #928a8a;
  border-radius: 9em;
  /* box-shadow: inset 1px 1px 10px #f3faf7; */
}

.gallery::-webkit-scrollbar-thumb:hover {
  background-color: #f5f5f5;
}


