.sidebar__item {
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 100%;
}

.sidebar__item:hover {
  cursor: url(../../../images/icons/cursor.svg) 1 1, default;
  text-decoration: underline
}

