.card {
  max-width: 270px;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card::after {
  content: "";
  background: black;
  position: absolute;
  bottom: 5%;
  right: 0;
  height: 90%;
  width: 1px;
}

.card::before {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 1px;
}



.card:hover {
  cursor: url(../../images/icons/cursor.svg) 1 1, default;
}



