.item-details__product-details {
  margin: 15px 0 0 0;
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
  display: block;
  cursor: url(../../../images/icons/cursor.svg) 1 1, default;
}